<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4</title>
  </head>
  <body class="body">
    <nav class="navbar">
      <p class="navbar__brand">LOGO</p>
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="#" class="navbar__link">Home</a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <h1 class="heading-1">Sentimental text</h1>
      <section class="form-section">
        <h2 class="heading-2">Sentimental form</h2>
        <form action="" id="form" class="form">
          <div class="form__group">
            <label for="text" class="form__label"
              >Introduce your text for sentimental analysis:</label
            >
            <textarea
              name="text"
              id="text"
              placeholder="Your text going here..."
              class="form__input"
            ></textarea>
            <span class="danger"></span>
          </div>
          <button class="form__button" type="submit">Generate info</button>
        </form>
      </section>
      <section class="sentimental">
        <div class="loading"><span>loading...</span></div>
        <ul class="sentimental__list">
          <li class="sentimental__item">
            Agreement: <span id="agreement"></span>
          </li>
          <li class="sentimental__item">
            Confidence: <span id="confidence"></span>
          </li>
          <li class="sentimental__item">Irony: <span id="irony"></span></li>
        </ul>
      </section>
    </main>
  </body>
</html>
